html {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  overscroll-behavior: none;
  scroll-behavior: smooth;
}

a {
  color: rgba(255, 211, 92, 0.95);
  font-weight: 600;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

a:hover {
  color: rgba(255, 211, 92, 1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

body {
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  font-size: 16px;
  font-style: normal;
  letter-spacing: 0;
  margin: 0;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(55, 88, 112, 1);
  background-image: url("./assets/img/dahliasdahlia.png");
  background-size: 850px;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
}

h1,
h2,
h3,
time,
nav,
blockquote {
  font-family: "Playfair Display";
  font-size: 1.125rem;
  font-weight: 900;
  font-style: italic;
  line-height: 1.6em;
  letter-spacing: -0.5px;
  margin: 0;
  padding: 0;
}

h1,
h2,
blockquote {
  font-size: 1.75rem;
  line-height: 1.4em;
  text-align: center;
  color: rgba(255, 255, 255, 0.95);
}

blockquote {
  text-align: left;
}

em {
  font-style: italic;
}

strong {
  font-weight: 600;
}

header {
  padding: 44px 12px 0;
  background-image: linear-gradient(
    180deg,
    rgba(55, 88, 112, 0.45) 0%,
    rgba(55, 88, 112, 0.75) 58%,
    rgba(55, 88, 112, 0.35) 100%
  );
}

nav {
  padding: 2px;
  text-align: center;
}

nav ul,
nav li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline-block;
}

nav li {
  padding: 0 8px;
  font-size: 1.25rem;
}

main {
  font-size: 1.125rem;
  line-height: 1.6rem;
  display: flex;
  flex-flow: row wrap;
}

section {
  flex: 2 0 100%;
  padding: 24px 0 0;
}

section p,
section ul,
section h3,
section blockquote {
  position: relative;
  max-width: 550px;
  margin: 12px 16px;
}

time {
  position: absolute;
  top: 30px;
  right: 6px;
}

#darling {
  background-image: linear-gradient(
    180deg,
    rgba(55, 88, 112, 0.35) 0%,
    rgba(55, 88, 112, 0.7) 27%,
    rgba(55, 88, 112, 0.85) 58%,
    rgba(55, 88, 112, 0.85) 87%
  );
}

#spirit,
#teachings,
#bio,
#offerings {
  background-color: rgba(55, 88, 112, 0.85);
}

#free {
  background-image: linear-gradient(
    180deg,
    rgba(55, 88, 112, 0.85) 0%,
    rgba(55, 88, 112, 0) 100%
  );
}

#darling {
  padding-top: 48px;
}

.hand {
  position: relative;
  margin: 0 6px -6px;
}

.valerie {
  font-style: italic;
}

#teachings ul,
#teachings li {
  padding-left: 0;
  list-style-type: none;
}

#teachings ul {
  margin-top: 0;
}

#teachings li,
#teachings p {
  margin-top: 6px;
  line-height: 1.3em;
}

#teachings li {
  position: relative;
  margin: 6px 0 12px;
  padding: 0 0 0 64px;
}

#teachings h3 {
  margin-top: 24px;
  margin-bottom: 0;
}

#teachings .controls {
  position: absolute;
  left: 0;
  width: 56px;
  text-align: right;
}

#teachings .controls a {
  border: 0;
}

#teachings .controls button {
  width: 23px;
  height: 23px;
  margin-right: 4px;
  padding: 0;
  border: 0;
  background-color: transparent;
  background-size: 23px;
  background-position: center;
  outline: 0;
}

#teachings .controls .play {
  background-image: url(./assets/img/icon-play.png);
}

#teachings .controls .pause {
  background-image: url(./assets/img/icon-pause.png);
}

#teachings .controls a:hover {
  border: 0;
}

.portrait {
  width: 100%;
  text-align: center;
  margin: 24px auto 0;
}

.portrait img {
  display: inline-block;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  max-width: 360px;
}

#free {
  padding-top: 240px;
  padding-bottom: 480px;
}

@media screen and (min-width: 580px) {
  section p,
  section ul,
  section h3,
  section blockquote,
  .hand {
    margin-left: auto;
    margin-right: auto;
  }

  .hand {
    left: -6px;
  }
}

@media screen and (min-width: 850px) {
  #darling {
    padding-top: 96px;
  }

  #spirit {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
  }

  #spirit,
  #teachings {
    flex: 1 0;
    padding-left: 28px;
    padding-right: 28px;
  }

  #spirit p,
  #spirit blockquote,
  #teachings h2,
  #teachings h3,
  #teachings ul,
  #teachings p {
    width: 100%;
    max-width: 370px;
    margin-left: 0;
    margin-right: 0;
  }
}
